<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
    <h2>Create User</h2>
    <form th:action="@{/users/register}" method="post" th:object="${user}">
        <div>
            <label>User Name:</label>
            <input type="text" th:field="*{username}" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" th:field="*{password}" />
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>